*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.idea
.DS_Store
/build
/captures
.externalNativeBuild
/app/release/release/app-release.apk
/app/release/BitcoinTimechainWidgets-1.0.0-signed.apk
/app/release/release/output-metadata.json
