<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.googof.bitcointimechainwidgets">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Bitcoin Timechain Widgets"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BitcoinTimechainWidgets"
        >
<!--        <receiver-->
<!--            android:name="com.googof.bitcointimechainwidgets.MempoolAppWidget"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />-->
<!--            </intent-filter>-->

<!--            <meta-data-->
<!--                android:name="android.appwidget.provider"-->
<!--                android:resource="@xml/mempool_app_widget_info" />-->
<!--        </receiver>-->
        <receiver
            android:name="com.googof.bitcointimechainwidgets.mempool.MempoolGlanceWidgetReceiver"
            android:label="Mempool Glance"
            android:enabled="@bool/glance_appwidget_available"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/mempool_app_widget_info_glance" />
        </receiver>

        <receiver
            android:name="com.googof.bitcointimechainwidgets.quotes.QuoteInfoGlanceWidgetReceiver"
            android:label="Bitcoin Quotes Glance"
            android:enabled="@bool/glance_appwidget_available"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/quote_app_widget_info_glance" />
        </receiver>

        <receiver
            android:name="com.googof.bitcointimechainwidgets.satoshiquotes.SatoshiQuoteGlanceWidgetReceiver"
            android:label="Satoshi's  Quote Glance"
            android:enabled="@bool/glance_appwidget_available"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/satoshi_quote_glance" />
        </receiver>

        <receiver
            android:name="com.googof.bitcointimechainwidgets.quotes.QuoteInfoTransparentGlanceWidgetReceiver"
            android:label="Bitcoin Quotes Glance (No background)"
            android:enabled="@bool/glance_appwidget_available"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/quote_app_widget_info_glance" />
        </receiver>

<!--        <receiver-->
<!--            android:name="com.googof.bitcointimechainwidgets.BitnodesAppWidget"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />-->
<!--            </intent-filter>-->

<!--            <meta-data-->
<!--                android:name="android.appwidget.provider"-->
<!--                android:resource="@xml/total_nodes_app_widget_info" />-->
<!--        </receiver>-->

<!--        <receiver-->
<!--            android:name="com.googof.bitcointimechainwidgets.QuotesAppWidget"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />-->
<!--            </intent-filter>-->

<!--            <meta-data-->
<!--                android:name="android.appwidget.provider"-->
<!--                android:resource="@xml/quotes_app_widget_info" />-->
<!--        </receiver>-->

<!--        <receiver-->
<!--            android:name="com.googof.bitcointimechainwidgets.QuotesTransparentAppWidget"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />-->
<!--            </intent-filter>-->

<!--            <meta-data-->
<!--                android:name="android.appwidget.provider"-->
<!--                android:resource="@xml/quotes_transparent_app_widget_info" />-->
<!--        </receiver>-->

        <activity
            android:name="com.googof.bitcointimechainwidgets.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>